/* font-family: 'Figtree', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
    min-height: 100vh;
    font-family: figtree, sans-serif;
    display: grid;
    place-content: center;
}

img { 
    width: 100%;
    display: block;
}

.card {
    background-color: var(--white);
    max-width: 400px;
    padding: 1.5rem;
    margin: 1rem;
    position: relative;
    border-radius: 1rem;
    outline: 1px solid #000;
}

.card::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--black);
    top: 15px;
    right: -15px;
    border-radius: 1rem;
    z-index: -1;
}

.card img {
    border-radius: 1rem;
}

.card .learning {
    background-color: var(--yellow);
    width: min-content;
    padding: .5rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    font-weight: 800;
}

.card .date {
    margin-top: 1rem;
}

.card h1 {
    margin: 1rem 0;
}

.card h1 a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
}

.card h1 a:hover {
    color: var(--yellow);
    transition: ease-in 1ms;
}

.card .description {
    line-height: 1.5;
    color: var(--grey);
}

.card .author {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.card .author img {
    width: 30px;
    border-radius: 50%;
}

.card .author .name {
    font-weight: 800;
}

@media (max-width: 375px) {
    .card h1 a {
        font-size: 1.25rem;
    }
}